{% extends 'base.html' %}

{% block title %}Licencje użytkownika{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col-6">
<div class="card">
    <div class="card-header">
        {{ user.name }} {{ user.surname }}
    </div>
    <div class="card-body">
        <p>Kwota do opłaty: {{ amount }} zł</p>
        <p>Opłacasz licencje administracyjną (50 PLN ) oraz zawodnicze:</p>
        <p>
          {% if 'k' in info[-3:] %}
          <button type="button" class="btn btn-primary btn-sm" disabled>Kendo</button>
          {% endif %}
          {% if 'i' in info[-3:] %}
          <button type="button" class="btn btn-dark btn-sm" disabled>Iaido</button>
          {% endif %}
          {% if 'j' in info[-3:] %}
          <button type="button" class="btn btn-danger btn-sm" disabled>Jodo</button>
          {% endif %}
        </p>
        <a href="{{ uri }}" class="btn btn-primary">Opłać licencje</a>
    </div>
  </div>
   

</div>
<div class="col">
  
</div>
</div>

{% endblock %}
