<!-- templates/edit_profile.html -->

{% extends 'base.html' %}

{% block title %}Zmień dane{% endblock %}

{% block content %}
    <h2>Edycja danych</h2>

    <form method="post" action="{{ url_for('edit_profile') }}">
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="username" class="form-label">nazwa użytkownika</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="username" value="{{ user.username }}" name="username" disabled>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="name" class="form-label">imię</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="name" value="{{ user.name if user.name }}" name="name" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="surname" class="form-label">nazwisko</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="surname" value="{{ user.surname if user.surname }}" name="surname" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="email" class="form-label">email</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="email" value="{{ user.email if user.email }}" name="email" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="phone" class="form-label">numer telefonu</label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="phone" value="{{ user.phone if user.phone }}" name="phone">
            </div>
        </div>
       
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    </form>


    
{% endblock %}
