{% extends "base.html" %}
{% block title %}PZK strefa zawodnika{% endblock %}
{% block content %}
  <div class="jumbotron text-center">
    <h1 class="display-4">Polski Związek Kendo</h1>
    <p class="lead">Strefa zawodnika</p>
    <hr class="my-4">
    <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
    <p class="lead">
      {% if current_user.is_authenticated %}
      <a class="btn btn-primary btn-lg" href="{{url_for('logout')}}" role="button"><i class="fa fa-sign-out-alt"></i> Wyloguj</a>
      {% else %}
      <a class="btn btn-primary btn-lg" href="{{url_for('login')}}" role="button"><i class="fa fa-sign-in-alt"></i> Zaloguj</a>
      <a class="btn btn-primary btn-lg" href="{{url_for('register')}}" role="button"><i class="fa fa-user-plus"></i> Zarejestruj</a>
      {% endif %}
    </p>
  </div>
{% endblock %}