{% extends 'base.html' %}

{% block title %}DB USERS{% endblock %}

{% block content %}
    <h2>DB USERS PZK</h2>
    {% if users %}

        <table class="table">
            <thead>
                <tr>
                    <th>nr</th>
                    <th>username</th>
                    <th>name</th>
                    <th>surname</th>
                    <th>admin</th>
                    <th>kido</th>
                    <!-- <th>Akcja</th> -->
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                    <tr>
                        <td>{{ u.id }}</td>
                        <td>{{ u.username }}</td>
                        <td>{{ u.name }}</td>
                        <td>{{ u.surname }}</td>
                        <td>
                            {% if u.admin == 1 %}<button type="button" class="btn btn-danger btn-sm" disabled>J</button>
                            {% elif u.admin == 2 %}<button type="button" class="btn btn-dark btn-sm" disabled>I</button>
                            {% elif u.admin == 3 %}<button type="button" class="btn btn-dark btn-sm" disabled>I</button><button type="button" class="btn btn-danger btn-sm" disabled>J</button>
                            {% elif u.admin == 4 %}<button type="button" class="btn btn-primary btn-sm" disabled>K</button>
                            {% elif u.admin == 5 %}<button type="button" class="btn btn-primary btn-sm" disabled>K</button><button type="button" class="btn btn-danger btn-sm" disabled>J</button>
                            {% elif u.admin == 6 %}<button type="button" class="btn btn-primary btn-sm" disabled>K</button><button type="button" class="btn btn-dark btn-sm" disabled>I</button>
                            {% elif u.admin == 7 %}<button type="button" class="btn btn-primary btn-sm" disabled>K</button><button type="button" class="btn btn-dark btn-sm" disabled>I</button><button type="button" class="btn btn-danger btn-sm" disabled>J</button>
                            {% elif u.admin == 8 %}<button type="button" class="btn btn-warning btn-sm" disabled>Admin</button>
                            {% endif %}
                        </td>
                        <td>{% if u.parentID is not none %}KIDO!{% endif %}</td>
                        <td><a href="{{ url_for('edit_profile') }}" class="btn btn-secondary">Edytuj</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Ni mo userów.</p>
    {% endif %}
{% endblock %}
